<div class="header text-large text-center">
  <b>Chat app</b>
</div>
<form class="login-form" (submit)="login()">
  <div class="has-error">
    <input type="text" [(ngModel)]="username" name="username" class="input textbox rounded" placeholder="Username" />
    <div *ngIf="error" class="error">Please enter a valid value.</div>
  </div>
  <div class="has-error">
    <input type="password" [(ngModel)]="password" name="password" placeholder="Password" class="input textbox rounded" />
    <div *ngIf="error" class="error">Please enter a valid value.</div>
  </div>
  <div>
    <button class="input button bg-green rounded" type="submit"><b>Sign up / Log in</b></button>
  </div>
  <p class="disclaimer text-medium">
    By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use. Others will be able to find you by searching for your email address or phone number when provided.
  </p>
</form>
